<h1> Welcome <%= @username %> - <%= @email %> </h1>
<h1>  <%= @user_num %> user </h1>

<ul id='links'>
  <% @links.each do |link| %>
    <li>Title: <%= link.title %></li>
    <li>URL:   <%= link.url   %></li>
    <li>Tags: <% link.tags.each do |tag| %>
    		<%= tag.name %>
    	<% end %></li>
  <% end %>
</ul>
